@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.btn {
  @apply px-4 py-2 text-white font-bold rounded-lg hover:bg-neutral-800 border-2;
}

.btn-blue {
  @apply px-4 py-2 text-white font-bold rounded-lg bg-blue-500 hover:bg-blue-600;
}

.btn-red {
  @apply px-4 py-2 text-white font-bold rounded-lg bg-red-500 hover:bg-red-600;
}

.dev {
  @apply border-2 border-red-500 dark:border-blue-500;
}

button:disabled,
button[disabled] {
  @apply opacity-50 cursor-not-allowed;
}

.pixel {
  image-rendering: pixelated;
}

.png-shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
